@{
    Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using System.Data
@model  DataTable




<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }

    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-b:hover {
            background-color: #ff0000;
            color: #ffffff;
        }
</style>

<!-- ======= Intro Single ======= -->

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="title-single-box">
                    <h1 class="title-single">Contact Category List</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Add" asp-controller="MST_ContactCategory"><i class="fa-solid fa-circle-plus"></i> Contact Category Add Edit </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Contact Category List
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr />
    </div>
</section><!-- End Intro Single-->

<br />
<table class="table table-hover">

    <thead>
        <tr>
            <th>ContactCategory ID</th>
            <th>ContactCategory Name</th>
            <th>Creation Date</th>
            <th>Modification Date</th>
            <th>Action</th>
        </tr>
        

    </thead>
    <tbody>
        @foreach(DataRow dr in Model.Rows) 
        {
            <tr>
                <td>@dr["ContactCategoryID"]</td>
                <td>@dr["ContactCategoryName"]</td>
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>
                
                 <td>
                    <form method="post" asp-controller="MST_ContactCategory" asp-action="Delete">
                        <input type="hidden" name="ContactCategoryID" value="@Convert.ToInt32(dr["ContactCategoryID"].ToString())">
                        <button type="submit" class="btn btn-b" onclick="return confirm('Are you sure you want to delete : @dr["ContactCategoryName"] ')">
                            Delete
                        </button>

                        &nbsp;

                        &nbsp;
                        &nbsp;
                        &nbsp;

                        <input type="hidden" name="">
                        <button type="submit" class="btn btn-a">
                            Edit
                        </button>


                    </form>
                </td>
            </tr>
        }
        
    </tbody>
</table>
