@{
    Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using System.Data
@model DataTable



<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }

    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-b:hover {
            background-color: #ff0000;
            color: #ffffff;
        }
</style>



<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Contact Category List</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Add" asp-controller="MST_ContactCategory"><i class="fa-solid fa-square-plus"></i> Contact Category Edit </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                           Contact Category List
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 d-flex dataTable_filter" id="sample_1_filter">
                <input type="text" placeholder="Serach Here...!" class="form-control" id="sample_1" aria-controls="sample_1" />

                <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
                    <i class="bi bi-search"></i>

                </button>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<br />
<div style="overflow-x :auto">
    <table class="table table-hover" id="sample_1">

        <thead>
            <tr>
                <th>Contact Category ID</th>

                <th>Contact Category Name</th>
                <th>Creation Date</th>
                <th>Modification Date</th>
                <th>Action</th>
            </tr>


        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["ContactCategoryID"]</td>

                    <td>@dr["ContactCategoryName"]</td>
                  
                    <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>


                    <td class="d-flex">
                        <form method="post" asp-controller="MST_ContactCategory" asp-action="Delete">
                            <input type="hidden" name="ContactCategoryID" value="@Convert.ToInt32(dr["ContactCategoryID"].ToString())">
                            <button type="submit" class="btn btn-b" onclick="return confirm('Are you sure you want to delete : @dr["ContactCategoryName"] ')">
                                Delete
                            </button>

                        </form>
                        &nbsp;

                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <form method="post" asp-controller="MST_ContactCategory" asp-action="Add">
                            <input type="hidden" name="ContactCategoryID" value="@Convert.ToInt32(dr["ContactCategoryID"].ToString())">
                            <button type="submit" class="btn btn-a">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </form>

                    </td>

                </tr>
            }

        </tbody>
    </table>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}