@{
    ViewData["Title"] = "Contact Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model CON_ContactModel

<style>
    .btn.btn-a {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-a:hover {
            background-color: #2eca6a;
            color: #000000;
        }

    .btn.btn-b {
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
    }

        .btn.btn-b:hover {
            background-color: rgba(255,0,0, 1);
            color: #ffffff;
        }
</style>

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Contact Add Edit</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="CON_Contact"><i class="fa-regular fa-address-book"></i> Contact List</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Contact Add Edit
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr />
        <br />
        <br />
    </div>


    <div class="container">
        <h5 style="color:green"><label>@TempData["ContactInsertMessage"]</label></h5>
        <br />
        <form method="post" asp-controller="CON_Contact" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.ContactID)
            @Html.HiddenFor(x=>x.PhotoPath)
            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                     Country ID :-
                </div>
                <div class="col-md-3">
                    <select asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" class="form-control" onchange="stateChange()">
                        <option value="">Select Country</option>
                    </select>
                    <span asp-validation-for="CountryID" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    State  :-
                </div>
                <div class="col-md-3">
                    <select asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" class="form-control" onchange="cityChange()">
                        <option value="">Select State</option>
                    </select>
                    <span asp-validation-for="StateID" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    City ID :-
                </div>
                <div class="col-md-3">
                    <select asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))" class="form-control">
                        <option value="">Select City</option>
                    </select>
                    <span asp-validation-for="CityID" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    ContactCategory ID :-
                </div>
                <div class="col-md-3">
                    <select asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.ContactCategoryList,"ContactCategoryID","ContactCategoryName"))" class="form-control">
                        <option value="">Select ContactCategory</option>
                    </select>
                    <span asp-validation-for="ContactCategoryID" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                     Contact Name :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Contact Name" asp-for="ContactName" class="form-control" />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Address :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Address" asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <br />


            <div class="row">

                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Pin Code :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter PinCode" asp-for="PinCode" class="form-control" />
                    <span asp-validation-for="PinCode" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                     Mobile No :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Mobile No" asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
            </div>

            <br />


            <div class="row">

                <div class="col-md-2">
                    Alternet Contact :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Alternet Contact" asp-for="AlternetContact" class="form-control" />
                    <span asp-validation-for="AlternetContact" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <span style="color: #ff0000">*</span>
                    Email :-
                </div>
                <div class="col-md-3">
                    <input type="email" placeholder="Enter Email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-2">
                    Birth Date :-
                </div>
                <div class="col-md-3">
                    <input type="date" placeholder="Enter Birth Date" asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    LinkedIn :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter LinkedIn Id" asp-for="LinkedIn" class="form-control" />
                    <span asp-validation-for="LinkedIn" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-2">
                         Twitter :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Twitter Id" asp-for="Twitter" class="form-control" />
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    Insta :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Instagram Id" asp-for="Insta" class="form-control" />
                    <span asp-validation-for="Insta" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-2">
                    Gender :-
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Enter Gender" asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                   
                    Photo Upload  :-

                </div>
                <div class="col-md-3">

                    <input type="file" placeholder="Upload Photo" asp-for="File" class="form-control" />
                    <span asp-validation-for="PhotoPath" class="text-danger"></span>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Save" class="btn btn-a" />
                </div>
                
                <div class="col-md-1">
                    <a class="btn btn-b" asp-action="Index" asp-controller="CON_Contact">
                        Cancel
                    </a>
                </div>
            </div>
        </form>

    </div>
</section><!-- End Intro Single-->
@section Scripts{
    <script>

        //State Ajax
        function stateChange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByCountry","LOC_City")" + "?CountryID=" + CountryID,
                    dataType: "json",
                    success: function (Result) {
                        console.log(Result);
                        $.each(Result,
                            function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading DropDown");
                    }

                });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }


        $(window).on('load', function () {
            console.log('All assets are loaded')
        })
        function abc() {
            alert("Error while change");
        }

        //City Ajax

        function cityChange() {
            var StateID = $("#StateID").val();
            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByState","CON_Contact")" + "?&StateID=" + StateID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading combobox.");
                        }
                    });
            } else {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }


    </script>
}